@page "/"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

<SfTab @ref="Tab">
    <TabItems>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Project Time"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <ul>
                    <li>Click on the "+" header to add dynamic tab items. </li>
                </ul>
            </ContentTemplate>
        </TabItem>
        <TabItem>
            <HeaderTemplate>
                <SfButton Content="+" @onclick="onClick"></SfButton>
            </HeaderTemplate>
        </TabItem>
    </TabItems>
</SfTab>

@code {
    SfTab Tab;

    public void onClick(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        List<TabItem> source = new List<TabItem>()
        {
            new TabItem() { Header = new TabHeader() { Text = "new tab"} }
        };
        this.Tab.AddTab(source, this.Tab.Items.Count() - 1);
    }
}